@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --intro: hsl(217, 28%, 15%);
    --main: hsl(218, 28%, 13%);
--footer: hsl(216, 53%, 9%);
--testimonials: hsl(219, 30%, 18%);
--white: hsl(0, 0%, 100%);
--cyan: hsl(176, 68%, 64%);
--blue: hsl(198, 60%, 50%);
--red: hsl(0, 100%, 63%);
}


* {
    box-sizing: border-box;
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--white);
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: 700px 2600px;
    background-position: bottom;
    background-color: var(--main);
    overflow-x: hidden;
    
}

nav, h1, h2, h3, h4, h5, p {
    font-family: 'Raleway', sans-serif;
    color: var(--white);
}
header {
    width: 100%;
}
header .nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 20px;
    background: var(--intro);
    width: 100%;
    
}

.nav-showcase-content {
    list-style-type: none;
}
.nav-showcase-content li {
    display: inline-block;
    padding: 10px 20px;
}
i{
    color: var(--white);
    padding-right: 5px;
}

.intro {
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: 300px;
    transform: translate(-50%, -50%);
    background: var(--intro);
    width: 100%;
}
.intro-img {
    position: relative;
    left: 20%;
    max-width: 100%;
}
.intro-p {
    text-align: center;
    font-weight: 700;
    color: var(--white);
    font-size: 30px;
}
.intro-b {
padding: 10px 40px;
border-radius: 20px;
text-decoration: none;
border-color: transparent;
width: auto;
letter-spacing: 1px;
background: var(--cyan);
color: var(--white);
position: relative;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
cursor: pointer;
}

.benefits {
    display: grid;
    grid-template-columns: 50% 50%;
    /* column-gap: 2em;
    row-gap: 2em; */
    column-gap: 10rem;
    row-gap: 3em;
    position: absolute;
    left: 45%;
    top: 900px;
    transform: translate(-50%, -50%);
}

.img-benefits{
     position: relative;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 60px;
     height: 60px;
     
}
.benefits div h2 {
    position: relative;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
.benefits div p {
    position: relative;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     padding-top: 15px;
}
.benefits div {
    display: flex;
    flex-direction: column;
}
.productivity {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 10%;
    top: 1300px;
}
.productivity img {
width: 600px;
}
.intro-p1 {
    font-weight: 700;
    color: var(--white);
    font-size: 30px;
    text-align: left;
}
.productivity-1 {
    /* padding: 20px 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    
}
.productivity-1 p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
}
.productivity-1 p:nth-child(3) {
    font-family: 'Open Sans', sans-serif;
}
.productivity-1 a {
    text-decoration: underline;
    color: hsl(176, 27%, 52%);
    cursor: pointer;
}
.productivity-1 a:hover {
    color: var(--white);
}
.testimonies {
    display: flex;
    position: absolute;
    left: 10%;
    top: 1900px;
    width: 1005px;
    height: auto;
}
.testimonies-1 {
    padding-left: 20px;
    padding-right: 10px;
    background-color: var(--testimonials);
    padding-top: 10px;
}
.testimonies-1 p, 
.testimonies-2 p, 
.testimonies-3 p{
    font-family: 'Open Sans', sans-serif;
}
.testimonies-sub {
    display: flex;
}
.testimonies-sub img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.testimonies-sub p {
    padding-left: 10px;

}
.testimonies-2, 
.testimonies-3 {
margin-left: 25px;
background-color: var(--testimonials);
padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}
.quotes {
    width: 40px;
    height: 35px;
    position: absolute;
    z-index: -1;
    top: -28px;
    left: -10px;
}

.get-started {
    position: absolute;
    left: 25%;
    top: 2150px;
    z-index: 2;
background-color: var(--main);
padding: 15px 30px;
border-radius: 0px;
background: #181f2a;
box-shadow:  24px 24px 48px #141a24,
             -24px -24px 48px #1c2430;
}
.get-started p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.get-started h2 {
    text-align: center;
}
input[type=email] {
    width: 270px;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: transparent;
}
input[type=email]:focus {
    outline: none;
}
.input-field {
    margin-bottom: 0;
}
.get-started-b {
    background: var(--cyan);
    color: var(--white);
    padding: 5px 20px;
border-radius: 20px;
text-decoration: none;
border-color: transparent;
cursor: pointer;
font-family: 'Raleway', sans-serif;
font-weight: 900;
}
.signup p {
    margin-top: 0;
    clear: both;
    text-align: left;
    color: var(--red);
    font-size: 10px;
}

.footer {
position: absolute;
top: 2250px;
background-color: var(--footer);
padding: 100px 50px;
display: flex;
justify-content: space-between;
width: 100%;
}
.footer-2-cont li, 
.footer-3-cont li,
.footer-4-cont li{
    padding: 5px 5px;
}
.footer-2-img {
    padding-right: 10px;
}
.footer-1 {
    display: flex;
    flex-direction: row;
}
.footer-1 img {
    height: 15px;
    width: 10px;
}
.footer-1 p {
    padding: 0px 10px;
}
.footer-5-cont li{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.footer-5-cont li:hover {
    transform: scale(0.5) translateY(-15px);
}
i.fab {
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.2em 0.3em;
      
}
.footer .footer-showcase-logo {
    position: absolute;
    top: 30px;
}

@media(max-width: 576px) {

    .intro-img {
        width: 50%;
    }
    header {
       width: max-content;
    }
    .intro {
        width: max-content;
        margin-top: 200px;
    }
    .benefits {
        top: 1000px;
        grid-template-columns: 100%;
       left: 50%;
       margin-top: 30px;
       margin-left: 15%;
        width: fit-content;
    }
    .img-benefits {
        width: 100px;
        height: 100px;
    }
    .benefits div p {
       margin: 20px;
    }
    .productivity {
        flex-direction: column;
        top: 1400px;
    }
    .productivity img {
        width: max-content;
    }
    .intro-p1 {
        text-align: center;
    }
    .testimonies {
        top: 2200px;
        flex-direction: column;
        width: fit-content;
        margin-left: 10px;
    }
    .testimonies-1 {
        margin: 20px;
    }
    .testimonies-2, 
    .testimonies-3 {
        margin: 20px;
    }
    .get-started {
        top: 2750px;
    }
    .footer {
        flex-direction: column;
        top: 3000px;
        width: 700px;
        overflow-x: hidden;
        margin-top: 70px;
        padding-left: 5px;
        margin-right: 0px;
    }
.footer-2-cont li, 
.footer-3-cont li,
.footer-4-cont li{
margin-left: 0px;
}
.footer-1 {
    padding-left: 20px;
}
.footer-1 img {
   margin-left: 25px;
}
.footer-1 p {
    padding-left: 15px;
}
.footer-5 {
    display: flex;
    justify-content: space-around;
}
.footer-showcase-logo {
    left: 40%;
    font-size: 45px;
}
.get-started-b {
 padding: 10px 60px;
 margin-top: 10%;
 transform: translateX(3%);
}
.help_text_style {
    display: none;
}
}

 @media(min-width: 400px) and (max-width: 496px) {
    .benefits {
        transform: translate(-40%, -50%);
        margin-top: 50px;
    }
 
}
@media(min-width: 300px) and (max-width: 400px) {
    .benefits {
        transform: translate(-25%, -50%);
        margin-top: 50px;
        margin-left: 20%;
        margin-bottom: 30px;
    }
    .productivity img {
        width: fit-content;
        margin-top: 30px;
        margin-bottom: 30px;
    }.testimonies {
        left: 50%;
    }.get-started {
        top: 2850px;
        left: 50%;
    }.footer {
        top: 3100px;
        width: 800px;
        overflow-x: hidden;
        margin-right: 0 !important;
    }
} 