@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
:root {
    --intro: hsl(217, 28%, 15%);
    --main: hsl(218, 28%, 13%);
--footer: hsl(216, 53%, 9%);
--testimonials: hsl(219, 30%, 18%);
--white: hsl(0, 0%, 100%);
--cyan: hsl(176, 68%, 64%);
--blue: hsl(198, 60%, 50%);
--red: hsl(0, 100%, 63%);
}


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
      margin: 0;
      padding: 0;
  }


ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
}
h2,
h3,
h4,
h1 {
    font-family: 'Raleway', sans-serif !important;
}
body {
    background-color: var(--intro);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
    font-family: 'Raleway', sans-serif;
align-items: center;
}
nav ul li {
    display: inline-block;
}
.title img{
    width: 3em;
}
.nav-item {
    margin-right: 1em;
    
}
.nav-item a {
    font-size: 0.99em;
}
.intro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro div img {
    width: 40em;
}
.intro div h2 {
    text-align: center;
    margin-top: 1em;
    color: var(--white);
    line-height: 1.5;
}
.intro div p:nth-of-type(1) {
    padding-top: 1em;
}
.intro div > p {
    color: var(--white);
    text-align: center;
    opacity: 0.7;
    font-size: 0.8em;
}
.intro div button {
    margin-top: 1em;
    outline: none;
    border: none;
    padding: 0.5em 2.5em;
    border-radius: 1.2em;
    background-color: var(--blue);
    color: white;
    font-weight: 400;
}

.intro div{
    background-image: url(/images/bg-curvy-desktop.svg);
   background-size: 100% 70%;
   background-repeat: no-repeat;
   background-position: 0em 15rem;
}
main {
    background-color: var(--main);
}
.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  padding:3em 10em;
  gap: 4em 7em;
}
.showcase div {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.showcase div h3{
    padding-top: 1em;
    color: var(--white)
}
.showcase div p {
    text-align: center;
    padding-top: 1em;
    color: var(--white);
    opacity: 0.8;
}

.productivity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em;
}
.productivity img {
    width: 28em
}
.productivity div h2 {
    color: var(--white);
}
.productivity div > p {
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 0.7em;
}
.productivity div p:nth-of-type(3) a {
    color: var(--cyan);
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 0.2em;
}
#arrow {
    width: 1em;
    margin-left: 0.5em;
    vertical-align: middle;
}
.testimonials {
    display: flex;
    margin: 4em;
    justify-content: space-between;
}
.testimonials div {
    background-color: var(--testimonials);
    margin-right: 3em;
    padding: 2em 1em 1em 1em;
}
.testimonials div p {
    color: var(--white);
    font-size: 0.9em;
}
.test-p {
    display: flex;
}
.test-p img {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.8em;
}
.founder {
    font-size: 0.7em;
    opacity: 0.7;
}
.access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    background-color: var(--intro);
    padding: 3em 4em;
    position: relative;
    box-shadow: 2px -5px 5px 0px rgba(24,31,42,0.94);
    -webkit-box-shadow: 2px -5px 5px 0px rgba(24,31,42,0.94);
    -moz-box-shadow: 2px -5px 5px 0px rgba(24,31,42,0.94);
    top: 5em;
    margin-left: 20em;
    margin-right: 20em;
}
.access h3 {
    color: var(--white);
    font-size: 1.5em;

}
.access p:nth-of-type(1) {
    text-align: center;
    margin-top: 1em;
    color: var(--white);
    font-size: 0.8em;
    opacity: 0.8;
}
.email {
    outline: none;
    border: none;
    width: auto;
    border-radius: 18px;
    padding: 0.9em 2em;
    margin-top: 2em;

}
.get-started {
    margin-left: 1em;
    border: none;
    padding: 0.9em 2em;
    border-radius: 18px;
    background-color: var(--blue);
    color: white;
    font-weight: 700;
    cursor: pointer;
}
footer {
    padding: 10em 4em;
    background-color: var(--footer);
}
.footer div {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    align-items: baseline;
}
.footer div > p, .footer div ul > li {
    color: white;
    font-size: 0.9em;
    opacity: 0.8;
    line-height: 1.5;
} 
.footer div > p {
    text-align: left;
}
.footer div ul > li {
    padding-bottom: 1.3em;
}
.contact_links li {
    display: inline-block;
    
}
.contact_links {
    padding-top: 2em;
    vertical-align: super;
   
}
.contact_links li a {
    font-size: 15px;
    padding: 10px 10px;
    cursor: pointer;
    
}
.contact_links li a i {
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.2em 0.3em;
}
.fa-phone-alt,
.fa-envelope {
margin-right: 2em;
}
.fa-map-marker-alt {
    color: white;
}
.lorem {
    display: flex;
    justify-content: space-between;
}
.lorem li p {
    margin-left: 1.3em;
}


@media(max-width: 800px) {
    .title img {
        width: 2em;
    }
    .nav-item a {
        font-size: 0.7em;
    }
    .intro {
        margin-left: 2em;
        margin-right: 2em;
        padding-bottom: 3em;
        
    }
   .intro div img {
       max-width: 100%;
   }
   .intro div {
       background-image: none;
    }
    .intro div button {
        margin-top: 2em;
    }
    .intro div > p {
        font-size: 0.7em;
        opacity: 0.7;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    .showcase {
        grid-template-columns: 1fr;
        align-items: center;
        padding: 10em 2.4em;
        row-gap: 10em;
    }
    .showcase div h3{
       font-size: 1em;
    }
    .showcase div p {
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.4;
    }
    .productivity {
        flex-direction: column;
    }
    .productivity img {
        max-width: 100%;
    }
    .testimonials {
        flex-direction: column;
      margin-left: 2em;
      margin-right: 0;
    }
    .testimonials div {
       margin-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0;
    }
    .testimonials div p {
        color: var(--white);
        font-size: 0.69em;
        line-height: 1.5;
        letter-spacing: 1px;

    }
    .get-started {
        padding: 0.7em 1em;
        margin-left: 0;
    }
    .access {
        margin-left: 1.5em;
        margin-right: 1.5em;
        padding: 2em 1em;
    }
    .access div {
        display: flex;
        flex-direction: column;

    }
    .email {
        width: auto;
        margin-bottom: 2em;
    }
    .access h3 {
        font-size: 1.2em;
    }
    .access p:nth-of-type(1) {
       text-align: center;
        margin-top: 1em;
        color: var(--white);
        font-size: 0.8em;
        opacity: 0.8;
    }
    .footer div {
        flex-direction: column;
    }
    .footer div ul > li {
        padding-bottom: 0.6em;
        font-size: 0.8em;
    }
    .fa-phone-alt,
    .fa-envelope {
        margin-right: 1em;
    }
    #about,
    #contact {
        margin-top: 2em;
    }
}
@media(min-width: 801px) and (max-width: 950px) {
    .footer div {
        flex-direction: column;
    }
    .testimonials {
        flex-direction: column;
      margin-left: 2em;
      margin-right: 0;
    }
    .testimonials div {
        margin-top: 2em;
    }
    .access {
        margin-left: 1.5em;
        margin-right: 1.5em;
        padding: 2em 1em;
    }
    .access div {
        display: flex;
        flex-direction: column;

    }
    .email {
        width: auto;
        margin-bottom: 2em;
    }
}
@media(min-width: 1000px) {
    .get-started{
        margin-top: 1em;
    }
}